@model GroupViewModel
<link rel="stylesheet" href="~/css/entity-form.css" />
@{
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>Create new group</title>
    </head>
    <body>
        <h1>Create new group</h1>
        <form asp-controller="Group" asp-action="Create" method="post">
            <fieldset>
                <legend>Group information</legend>

                <p>
                    <label asp-for="Name"></label>
                    <input asp-for="Name">
                    <span asp-validation-for="Name" class="text-danger"></span>
                </p>

                <div class="form-group">
                    <label asp-for="CourseID"></label>
                    <select asp-for="CourseID" asp-items="Model.existingCourses" class="form-control"></select>
                </div>

                <div>
                    <input type="submit" value="Create" />
                </div>
            </fieldset>
        </form>
    </body>
    </html>
}
